astroid==2.3.2
Babel==2.8.0
cachetools==3.1.1
certifi==2019.9.11
chardet==3.0.4
Click==7.0
colorama==0.4.1
dj-database-url==0.5.0
Django==2.2.28
django-crispy-forms==1.9.1
django-menu-generator==1.0.4
django-phonenumber-field==4.0.0
django-simple-menu==1.2.1
django-sitetree==1.14.0
django-widget-tweaks==1.4.8
djangocms-installer==1.2.3
et-xmlfile==1.0.1
Flask==1.1.1
google-api-python-client==1.7.11
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
httplib2==0.19.0
idna==2.8
intouch-queryset-csv==0.3.1
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.10.3
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
mysql-connector-python==8.0.20
nanpy==0.9.6
oauthlib==3.1.0
openpyxl==3.0.0
phonenumbers==8.12.5
Pillow==7.1.2
protobuf==3.12.2
psycopg2==2.8.3
pyasn1==0.4.7
pyasn1-modules==0.2.7
pyFirmata==1.1.0
pylint==2.4.3
PyPDF2==1.26.0
pyserial==3.4
PySocks==1.7.1
pytz==2019.3
requests==2.22.0
requests-oauthlib==1.2.0
rsa==4.0
selenium==3.141.0
six==1.12.0
sqlparse==0.3.0
tweepy==3.8.0
typed-ast==1.4.0
tzlocal==2.1
uritemplate==3.0.0
urllib3==1.26.5
virtualenv==16.7.8
Werkzeug==0.16.0
wrapt==1.11.2
gunicorn==20.0.4